@import url('https://fonts.googleapis.com/css2?family=Lato:100,200,300,400,500,600,700|Cookie:100,200,300,400,500,600,700');

/* ---------------------------------------------------- Layout */
.hero-image-container {
    height: 100vh;

    background: url('../images/hero-image.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-image-opacity {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* ----------------------------------------------------- Headings */

#homepage-title {
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-size: 200px;
}